<!DOCTYPE html>
<html>
<head>
  <title>My Introduction</title>
  <style>
    body {
      background-image: url("https://images.creativemarket.com/0.1.0/ps/7553423/910/607/m2/fpnw/wm1/nalrzeyxsyphkop8sqhhma4jvoq5jrqvcdws1uct5v9p9x4ozahkflxbmja9txu3-.jpg?1578473561&s=cebf10c52cc0f4813a7f3dae6264f64d&fmt=webp");
      background-size: cover;
    }
    .intro-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    .intro-text {
      color: white;
    }
  </style>
</head>
<body>
  <div class="intro-container">
    <h1 class="intro-text">Hello, Here is my spec</h1>
    <p class="intro-text">OS: {{ os }}</p>
    <p class="intro-text">Hostanme: {{ hostname }}</p>
    <p class="intro-text">Number of Cores: {{ core }}</p>
    <img src="https://i.imgur.com/LZ3MBAZ.png" alt="Beagle"">
  </div>
</body>
</html>